html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color:black;
    font-family: 'Press Start 2P', cursive;
    font-weight: 700;
}
.container {
    height: 100%;
    display: table;
    width: 100%;
    padding: 0;
}
.row {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
h1 {
    color: red;
    float: none;
    margin: 0 auto;
    font-size: 7vw;
    text-align: center;
}
.brand a {
    color: #fff;
    font-size: 20px;
    word-spacing: 10px;
    text-decoration: none;
    top: 15px;
    left: 15px;
    position: fixed;
}
footer p {
    position: absolute;
    bottom: 10px;
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    width: 100%;
    text-align: center;
}